<!DOCTYPE>
<html>
<head>
    <style type="text/css">
    /* 开始时的样式 */
    .fade.ng-enter {
        transition: 5s linear all;
        /* 当使用css transition实现动画效果时，在开始时的样式中必须包含transition的设置 */
        opacity: 0;
    }
    /* 结束时的样式 */

    .fade.ng-enter.ng-enter-active {
        opacity: 1;
    }
    </style>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script type="text/javascript">
    (function() {
        var app = angular.module('cssBasedAnimationTest', ['ngAnimate']);
    })();
    </script>
</head>

<body ng-app="cssBasedAnimationTest">
    <div ng-if="bool" class="fade">
        Fade me in out
    </div>
    <button ng-click="bool=true">Fade In!</button>
    <button ng-click="bool=false">Fade Out!</button>
</body>

</html>
